<!doctype html>
<html lang="en" ng-app="githubTrend" data-ng-csp="">

<head>
  <title>GitHub Trending Page</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/common.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/angular/angular-material.min.css" type="text/css">
  <script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular/angular-material.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular/angular-aria.min.js"></script>
</head>

<body layout="row" ng-controller="MainController" ng-cloak layout-sm="column" layout-gt-sm="column" layout-md="row" layout-gt-md="row">
   <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span class="app-logo"><i class="fa fa-github-alt fa-2x"></i></span>
          {{extension_name}}
        </div>
      </md-toolbar>
     <md-content layout-padding="">
       <div ng-repeat="(group, languageGroup) in groups">
         <h3>{{group}}</h3>
         <md-divider></md-divider>
         <div ng-repeat="info in languageGroup">
           <md-checkbox ng-model="info.selected" aria-label="info.display" ng-click="saveSettings(info)">
             {{info.display}}
           </md-checkbox>
         </div>
       </div>
     </md-content>

   </md-sidenav>
   
   <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleRight()">
     <md-icon md-svg-icon="img/icons/ic_more_vert_black_36px.svg"></md-icon>
   </md-button>
   <md-card flex layout="column" ng-repeat="index in columnNumber">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-menu>
            <md-button aria-label="Select language" class="md-raised md-primary md-hue-2" ng-click="$mdOpenMenu($event)">
              <md-tooltip md-direction="top">
                Change Language
              </md-tooltip>
              <strong>{{selectedLanguage[index]}}</strong>
            </md-button>
            <md-menu-content width="4">
            <div ng-repeat="(group, languageGroup) in groups">
              <md-menu-item ng-repeat="info in languageGroup" ng-if="info.selected && (!checkSelectedLanguage(info.display))">
                <md-button ng-click="save(index, info.display)" >
                {{info.display}}
                </md-button>
              </md-menu-item>
              </div>
            </md-menu-content>
          </md-menu>
          <!--
          <md-select name="selectedLanguage[0]" aria-label="Select column 1" ng-model="selectedLanguage[0]" ng-change="save(0)">
            <div ng-repeat="(group, languageGroup) in groups">
              <md-option ng-repeat="info in languageGroup" value="{{info.display}}" ng-if="info.selected">
                {{info.display}}
              </md-option>
            </div>
          </md-select>
          -->
          <span flex></span>
          <md-button class="md-primary" ng-click="togglefeed(index)">
            <md-tooltip md-direction="top" ng-if='feedTimeSpand[index] == "daily" '>
              Change to <strong>WEEKLY</strong>
            </md-tooltip>
            <md-tooltip md-direction="top" ng-if='feedTimeSpand[index] == "weekly" '>
              Change to <strong>MONTHLY</strong>
            </md-tooltip>
            <md-tooltip md-direction="top" ng-if='feedTimeSpand[index] == "monthly" '>
              Change to <strong>DAILY</strong>
            </md-tooltip>
            <strong>{{feedTimeSpand[index]}}</strong>
          </md-button>
          <md-button class="md-icon-button" aria-label="shuffle" ng-click="getRandomLanguage(index)">
            <md-tooltip md-direction="top">
              Random language
            </md-tooltip>
            <md-icon md-svg-icon="img/icons/ic_shuffle_white_36px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-progress-linear class="md-accent" md-mode="indeterminate" ng-if="loading[index] === true"></md-progress-linear>
      <md-content flex layout="column">
        <md-list flex>
          <md-item>
            <md-list-item class="md-3-line" ng-repeat="feed in feeds[index]" style="word-wrap: break-word; padding-top: 5px; padding-bottom: 5px;">
               <h1 class="index-circle md-icon-button">{{ $index + 1 }}</h1>
               <div class="md-list-item-text">
                 <h3>
                   <a target="_blank" href="{{ feed.link }}">{{feed.title }}</a>
                 </h3>
                 <h4><i>{{since[index]}}</i></h4>
                 <p>{{ feed.content }}</p>
               </div>
               <md-divider></md-divider>               
            </md-list-item>
          </md-item>
        </md-list>
      </md-content>
   </md-card>

   <script type="text/javascript" src="js/controllers.js"></script>
   <script type="text/javascript" src="js/services.js"></script>
   <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
